<!-- <div id="___modal" title="modal"></div> -->

    <footer class="hide">
        <center>
          <address>All rights reserved</address>
        </center>
      </footer>
      <script src="../assets/js/jquery.js"></script>
      <script src="../assets/js/tinyColor.js"></script>
      <!-- <script src="../assets/js/Modal.js"></script> -->
      <script src="../assets/js/Interface.js"></script>
      <script src="../assets/js/main.js"  type="module"></script>
    </body>
  </html>
  