 <!-- Modal container -->
 <div class="modalContainer gmodalxx321">
    <div class="modalContent">
        <button class="closeModalContent p-1 btn"><i class="fa fa-times"></i></button>
         <!-- Post card -->
    <div class="card card-card">
        <div class="ch101 p-1">
            <h1>Create Post</h1>
        </div>
        <div class="card-header">
            <div class="card-header-image">
                <img
                    src="assets\img\chatUI.jpeg"
                    height="100%"
                    width="100%"
                    alt=""
                />
            </div>
            <div class="card-header-info">
                <h4>Rotimi Femi <span>is with 24 of his friends </span></h4>
                <p>yesterday 23:25</p>
                <div class="cardHeaderInfoTag">
                    <button class="btn">Public <i class="fa fa-caret-down"></i></button>
                </div>
            </div>
            <button id="" class="c001 c112 p-1 dropDownMenuToggler">
                <i class="fa fa-ellipsis-h"></i>
            </button>

            <div id="" class="dropDownMenu">
                <button id="" class="removeDropDownMenu">
                    <i class="fa fa-times"></i>
                </button>
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Link</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Link</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i>Link</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <!-- body -->
            <div class="postTextAreaContainer">
                <textarea name="" class="postTextArea" cols="45" rows="5" placeholder="<%- dailyGreeting %> "></textarea>
            </textarea>
                <div class="colorPicker">
                    <button class="c010 colorPickerColor color color-c000"></button>
                    <button class="c010 colorPickerColor color color-c010"></button>
                    <button class="c011 colorPickerColor color color-c011"></button>
                    <button class="c012 colorPickerColor color color-c012"></button>
                    <button class="c013 colorPickerColor color color-c013"></button>
                    <button class="c014 colorPickerColor color color-c014"></button>
                    <button class="c015 colorPickerColor color color-c015"></button>
                </div>
                <P class="text-small text-primary p-l-1">You attachmemt(s) will display whe you post them.</P>
            </div>
        </div>
        <div class="card-footer">
            <button><i class="fa fa-camera"></i>&nbsp; Photo/Video</button>
            <button><i class="fa fa-frown"></i>&nbsp; Smileys</button>
            <button><i class="fa fa-share"></i> &nbsp; Share</button>
        </div>
        <div class="ch101 p-1">
            <button class="postButton">Post</button>
        </div>
    </div>
    </div>
</div>
<!-- \Modal container -->