<%- include("includes/navbar"); %>
    <main>
      <!-- <section style="visibility: hidden;"></section> -->
      <section class="banner">
        <img src="assets/img/chatUI.jpeg" alt="" />
      </section>

      <section class="form-login">
        
      </section>
    </main>
<%- include("includes/footer"); %>