<%- include("includes/navbar"); %>

    <main>
      <!-- <section style="visibility: hidden;"></section> -->
      <section class="banner">
        <img src="assets/img/chatUI.jpeg" alt="" />
      </section>

      <section class="form-login">
        <form action="/password/recover" method="POST">
          <div class="message">
            <h1>Welcome back!</h1>
            <p class="success">Login successful!</p>
                <p class="error">Server error!</p>
          </div>
          <div class="form-group">
              <p class="btn">Enter your registered email.</p>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Enter email"
              autocomplete="email"
              required
            />
            <span class="error">Email is required</span>
          </div>
         
          <div class="form-group">
            <button
              type="submit"
              class="form-control"
            >
              Continue
            </button>
          </div>
          <center><small class="btn"><a href="/">Go back</a></small></center>
        </form>
      </section>
    </main>

    <%- include("includes/footer"); %>
