<div class="xa23xy xax xax-r tmp_view_x" data-view-name="basic_info">
    <ul>
        <li><h4>Basic Informations</h4></li>
        <li>
            <i class="fa fa-phone ic"></i>
            <p>
                Rotimi Oluwafemi Solomon
                <span>Full name</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-home ic"></i>
            <p>
               Dec 31, 1980 <span>DOB</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-envelope ic"></i>
            <p>
             Love your neighbor as yourself.<span>Quote</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-heart ic"></i>
            <p>
              Lagos, Nigeria<span>Lives in</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-users ic"></i>
            <p>
               I love Coding<span>About</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-hospital ic"></i>
            <p>
               Itz_femiisce<span>Handle(IG)</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
    </ul>
</div>