<div class="xa21x xa2xxa tmp_view_x">
    <div class="xa22x">
        <h1>Friends</h1>
    </div>
    <div class="xa23x icpx">
            <div class="iconpx">
                <button class="iconic"><i class="fa fa-envelope"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx">
                    <p>Rotimi Femi</p>
                    <span>Mutual friends</span>
                </div>
            </div>
            <div class="iconpx">
                <button class="iconic"><i class="fa fa-envelope"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx">
                    <p>Rotimi Femi</p>
                    <span>Mutual friends</span>
                </div>
            </div>
            <div class="iconpx">
                <button class="iconic"><i class="fa fa-envelope"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx">
                    <p>Rotimi Femi</p>
                    <span>Mutual friends</span>
                </div>
            </div>
            <div class="iconpx">
                <button class="iconic"><i class="fa fa-envelope"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx">
                    <p>Rotimi Femi</p>
                    <span>Mutual friends</span>
                </div>
            </div>
            
    </div>
</div>
