<div class="xa23xy xax xax-r tmp_view_x" data-view-name="overview">
    <ul>
        <li><h4>Overview</h4></li>
        <li>
            <i class="fa fa-phone ic"></i>
            <p>
                0701017998
                <span>Mobile</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-home ic"></i>
            <p>
               21, Johnson Ibuoye Ave.<span>Address</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-envelope ic"></i>
            <p>
               rofesol.ng@gmail.com<span>Email</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-heart ic"></i>
            <p>
               Single<span>Relationship</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-users ic"></i>
            <p>
               Men and Women<span>Interested in</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
        <li>
            <i class="fa fa-hospital ic"></i>
            <p>
               Christainity<span>Religion</span>
            </p>
            <button><i class="fa fa-pen"></i></button>
        </li>
    </ul>
</div>