<div class="xa21x xa2xxa">
    <div class="xa22x">
        <h1>Photos</h1>
    </div>
    <div class="xa23x icpx">
            <div class="iconpx">
                <button type="button" class="iconic"><i class="fa fa-ellipsis-h"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
            </div>
            <div class="iconpx">
                <button type="button" class="iconic"><i class="fa fa-ellipsis-h"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
            </div>
            <div class="iconpx">
                <button type="button" class="iconic"><i class="fa fa-ellipsis-h"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
            </div>
            <div class="iconpx">
                <button type="button" class="iconic"><i class="fa fa-ellipsis-h"></i></button>
                <img src=".././assets/img/chatUI.jpeg" alt="">
            </div>
    </div>
</div>
