<div class="xa21x xa2xxa p-1 tmp_view_x">
    <div class="xa22x">
    </div>
    <div class="xa23x icpx">
           <h1>Help us multiply!</h1>
           <p class="p-1 text-center"><q>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, deserunt, tenetur ad soluta similique corporis, recusandae exercitationem alias aperiam ab harum laborum suscipit quisquam debitis accusamus non tempore accusantium? Aut?
           </q></p>
           <div class="xa23sax p-1 btn btn-primary">
               <input type="text" class="text-primary text-bold" name="" id="" value="www.<%- APPNAME %>.com/r?l=1234abcdxyz" disabled>
               <button class="btn-i btn-i-b">Copy</button>
           </div>
        </div>
        <button class="btn-i btn-i-b p-1 text-center text-bold">Share now!</button>
</div>
