<div class="xa21x xa2xxa tmp_view_x">
    <div class="xa22x">
        <h1>Friend Request <button class="btn-i btn-i-o">66</button></h1>
    </div>
    <div class="xa23x icpx">
            <div class="iconpx">
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx icnxfrq">
                    <p>Rotimi Femi</p>
                    <div class="icnxrqabn">
                        <button class="btn-i btn-i-b">Accept</button>
                        <button class="btn-i btn-i-o">Reject</button>
                    </div>
                </div>
            </div>
            <div class="iconpx">
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx icnxfrq">
                    <p>Rotimi Femi</p>
                    <div class="icnxrqabn">
                        <button class="btn-i btn-i-b">Accept</button>
                        <button class="btn-i btn-i-o">Reject</button>
                    </div>
                </div>
            </div>
            <div class="iconpx">
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx icnxfrq">
                    <p>Rotimi Femi</p>
                    <div class="icnxrqabn">
                        <button class="btn-i btn-i-b">Accept</button>
                        <button class="btn-i btn-i-o">Reject</button>
                    </div>
                </div>
            </div>
            <div class="iconpx">
                <img src=".././assets/img/chatUI.jpeg" alt="">
                <div class="icnx icnxfrq">
                    <p>Rotimi Femi</p>
                    <div class="icnxrqabn">
                        <button class="btn-i btn-i-b">Accept</button>
                        <button class="btn-i btn-i-o">Reject</button>
                    </div>
                </div>
            </div>
            
    </div>
</div>
